Builds/
Logs/
*.sln

# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/.vs


/Assets/Audio/Achievement Unlocked.sfk.meta
/Assets/Audio/Player/Death.sfk.meta
/Google Play Store/Video/Footage VR Mode.mp4
/Google Play Store/Video/Footage VR Mode.mp4.sfk
/Google Play Store/Video/Footage.mp4
/Google Play Store/Video/Footage.mp4.sfk
/Google Play Store/Video/Video Render.wmv
