Builds/
Logs/
/Assets/Resources/config.json
/Assets/Resources/config.json.meta
/Google Play Store/Video/Footage.mp4.sfk
/Google Play Store/Video/Video Render.wmv
/Google Play Store/Video/Footage VR Mode.mp4.sfk
*.sfk
*.sfk.meta
*.mp4
*.sfk
*.bak
/Assets/TextMesh Pro
/Assets/TextMesh Pro.meta
node_modules

# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
*.sln

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/.vs

settings.json
/.env
UserSettings/Layouts